<% include header.ejs %>

  <div class="container">
    <div class="col-sm-12">
      <h1>Social Web Todo</h1>
    </div>

    <div class="col-sm-12">
      <% if (locals.errors) { %>
        <p class="errors alert alert-warning"><%= errors %></p>
      <% } else { %>
        <p class="alert alert-success">No errors so far</p>
      <% } %>
    </div>

    <% if (locals.currentUser) { %>

      <div class="col-sm-12">
        <span class="welcome"> Welcome, <%= currentUser.name %> <span><a href="/user/logout" class="logout">Logout</a>
      </div>

      <div class="row mt-4 col-sm-12">

        <div class="col-sm-6">
          <h4>Your tasks</h4>
          <ul class="tasks list-group">
            <% if (locals.task) { %>
              <% task.forEach(function(task) { %>
                  <% if (!task.isComplete) { %>
                    <li class="task list-group-item">
                      <span class="task-title col-sm-6"><%=task.name%></span>
                      <form class ="col-sm-3" method="post" action="/tasks/<%=task.id%>/complete">
                        <button type="submit" name="toggle" class="toggle btn btn-link">
                          <small><i class="fa fa-flag" aria-hidden="true"></i> Mark Complete</small>
                        </button>
                      </form>
                  <% } else { %>
                    <li class="task completed list-group-item">
                      <span class="task-title col-sm-6"><del><%=task.name%></del></span>
                      <form class ="col-sm-3" method="post" action="/tasks/<%=task.id%>/incomplete">
                        <button type="submit" name="toggle" class="toggle btn btn-link">
                          <small><i class="fa fa-plus" aria-hidden="true"></i> Mark Incomplete</small>
                        </button>
                      </form>
                  <% } %>
                  <% if (task.owner == currentUser.id) { %>
                    <form class ="col-sm-2" method="post" action="/tasks/<%=task.id%>/delete">
                      <button type="submit" name="delete" class="delete btn btn-link">
                        <small><i class="fa fa-trash" aria-hidden="true"></i> Delete</small>
                      </button>
                    </form>
                  <% } %>
                </li>
              <% }); %>
            <% } %>
          </ul>
        </div>

        <div class="col-sm-6">
          <h4>Add a new task</h4>
          <form class="createTask" action="/task/create" method="POST">
            <div class="form-group">
              <label for="name">Task name</label>
              <input class="form-control" name="name" type="text">
            </div>
            <div class="form-group">
              <label for="description">Task Description</label>
              <input class="form-control" name="description" type="text">
            </div>
            <div class="form-group">
              <label>Collaborators</label>
              <input class="form-control" name="collaborator1" type="email">
              <input class="form-control" name="collaborator2" type="email">
              <input class="form-control" name="collaborator3" type="email">
            </div>
            <input type="submit" class="create-task-submit btn btn-primary">
          </form>
        </div>

      </div>
    <% } else { %>
      <div class="row col-sm-12">
        <div class="col-sm-6">
          <h2>LOGIN</h2>
          <form class="login" action="/user/login" method="POST">
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
              <input class="form-control" name="email" id="email" type="text" placeholder="email">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
              <input class="form-control" name="password" id="password" type="text" placeholder="password">
            </div>
            <input type="submit" class="log-in-submit btn btn-primary">
          </form>
        </div>

        <div class="col-sm-6">
          <h2>SIGN UP</h2>
          <form class="register" action="/user/register" method="POST" class="signup-form">
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-heart" aria-hidden="true"></i></div>
              <input name="name" type="text" class="text-input form-control" placeholder="first and last name">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <input name="email" type="text" class="text-input form-control" placeholder="email">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <input name="password" type="password" class="text-input form-control" placeholder="password">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-eye" aria-hidden="true"></i></div>
              <input name="passwordConfirmation" type="password" class="text-input form-control" placeholder="password confirmation">
            </div>
            <input type="submit" class="sign-up-submit btn btn-primary">
          </form>
        </div>
      </div>
    <% } %>
  </div>

<% include footer.ejs %>
